@model IEnumerable<Car4Hire.Models.Car>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.carName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.carNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.carModel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.registrationDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.carName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.carNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.carModel)
        </td>
       <td>
            @Html.DisplayFor(modelItem => item.registrationDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
